<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<div style="margin-left: 10px; margin-top: 10px;">
    <h3 style="display: inline">About</h3>
<!--    Had to take out this longhorn picture because I guess we're not licensed to use it :/-->
<!--    <img src="../img/longhorn.png" style="width: 200px; height: 100px; display: inline; float: right;">-->
    <br>
    <p style="margin-left: 25px">In the digital age of technology, children are
        becoming less mobile and active in their daily lives. Our project aims to use technology
        to encourage, rather than hinder, healthy habits in elementary-aged students.
        Through close collaboration with current elementary teachers, students, and industry
        experts, our team has developed PROJECT SMART, an interactive, visual, and engaging web
        application that supports the classroom curriculum. We hope that PROJECT SMART will be
        delightful to both students and teachers, and we look forward to hearing your feedback!
    </p>
    <ul>
        <li><strong>Faculty Sponsor: </strong> Christine Julien</li>
        <li><strong>Special Thanks To:</strong></li>
        <ul>
            <li>Darla Castelli</li>
            <li>Deena Wolff</li>
            <li>Heather Granson</li>
        </ul>
        <li><strong>University of Texas at Austin Senior Design Team:</strong></li>
    </ul>
    <div layout="row" style="display: table; margin: 0 auto;">
        <figure>
            <img src="../img/grayson_barrett.jpeg" style="height:150px; width:150px;">
            <figcaption>Grayson Barrett</figcaption>
        </figure>
        <figure>
            <img src="../img/dylan_bray.jpeg" style="height:150px; width:150px;">
            <figcaption>Dylan Bray</figcaption>
        </figure>
        <figure>
            <img src="../img/kevin_brill.jpeg" style="height:150px; width:150px;">
            <figcaption>Kevin Brill</figcaption>
        </figure>
        <figure>
            <img src="../img/anjali_tewani.jpeg" style="height:150px; width:150px;">
            <figcaption>Anjali Tewani</figcaption>
        </figure>
        <figure>
            <img src="../img/charlie_yeng.jpeg" style="height:150px; width:150px;">
            <figcaption>Charlie Yeng</figcaption>
        </figure>
        <figure>
            <img src="../img/gui_zamorano.jpeg" style="height:150px; width:150px;">
            <figcaption>Gui Zamorano</figcaption>
        </figure>
        <figure>
            <img src="../img/grace_zhuang.jpeg" style="height:150px; width:150px;">
            <figcaption>Grace Zhuang</figcaption>
        </figure>
    </div>
    <br><br>
    <p style="display: inline">
        This project was inspired by a project with similar goals in Italy done by a group named
        <a href="http://www.smartcommunitylab.it/climb-en/">Smart Community Lab</a>.
        Their Github can be found
        <a href="https://github.com/smartcommunitylab/sco.climb.gamification">here</a>.
    </p>
    <br>
    <a href="http://www.smartcommunitylab.it/climb-en/">
        <!--The height of this object was chosen by Grace Zhuang-->
        <img src="../img/CLIMB_logo.png" style="width: 106px; height: 69px">
    </a>
    <br><br>
    <p>
        The Github for our project can be found
        <a href="https://github.com/GuiZamorano/sco.climb.game">here</a>.
    </p>
</div>
