<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<div style="margin-left: 10px; margin-top: 10px;">
    <h3 style="display: inline">Encouraging Sustainable Mobility through Games in the Elementary Classroom</h3>
    <br>
    <h4 style="display: inline; margin-left: 25px">University of Texas at Austin Senior Design Project</h4>
    <ul>
        <li><strong>Faculty Sponsor: </strong> Christine Julien</li>
        <li><strong>Special Thanks To:</strong></li>
        <ul>
            <li>Darla Castelli</li>
            <li>Deena Wolff</li>
            <li>Heather Granson</li>
        </ul>
        <li><strong>Senior Design Team:</strong></li>
        <ul>
            <li>Grayson Barrett</li>
            <li>Dylan Bray</li>
            <li>Kevin Brill</li>
            <li>Anjali Tewani</li>
            <li>Charlie Yeng</li>
            <li>Gui Zamorano</li>
            <li>Grace Zhuang</li>
        </ul>
    </ul>
    <div layout="row" style="display: table; margin: 0 auto;">
        <img src="https://media.licdn.com/dms/image/C5103AQG5a17THI383g/profile-displayphoto-shrink_200_200/0?e=1560384000&v=beta&t=yYxTTuyyalinqVOk3GtpLjcbTb6j7QPXDaWbbYD8LnU" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C5103AQHjcXlPgi-r8w/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=y2KamTuvcZWy4TiwpGTzyJ51VxY5ZfQWgbMtKAjQ7FE" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C4D03AQHYyCtbEFJosw/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=3pQULhE42BCtLjAVrSrTo2Vos4On9pD99F_FCIWXJ5E" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C5603AQH_A_jYlt-sLQ/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=yoyF5KzI7s231rwYDErjfkXJ1qJ8o-LJ6EgFTk1amfw" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C5603AQE08v-dqzl78Q/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=sC5GP06vaYazduXiBZX0zT_0a0H6FwYpZVFSUCLdsFY" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C5603AQFsnbrOt43eFw/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=iDv_i3SD1656-N_Gx2HMUX3tc2ws1xQQWizkiSlOjY0" style="height:150px; width:150px;">
        <img src="https://media.licdn.com/dms/image/C5603AQGkpRPDHmNmiw/profile-displayphoto-shrink_800_800/0?e=1560384000&v=beta&t=euMBq-yvGPo4N3pLhaWFJ6p2LBrVZ0gCrX-TKgShM14" style="height:150px; width:150px;">
    </div>
    <br><br>
    <p style="display:inline">This project was inspired by a project with similar goals in Italy done by a group named
        <a href="http://www.smartcommunitylab.it/en/">Smart Community Lab</a>. Their Github can be found
        <a href="https://github.com/smartcommunitylab/sco.climb.gamification">here</a>.
    </p>
    <p>
        The Github for our project can be found
        <a href="">here</a>.
    </p>
</div>
