

    <div class="row">
        <div class="col-md-8">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
        <div class="col-md-4">
            <div style="background-color:#B2D9FF;color:black;" ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px">
                <h2 style="margin-top:0px"> Selected Event:</h2>
                <h3 style="color:black">{{SelectedEvent.title}}</h3>
                <div class="md-media-sm card-media">
                    <i style="color:white;" class="meteo" ng-class="{'icon-sun': SelectedEvent.meteo === 'sunny', 'icon-cloudy': SelectedEvent.meteo === 'cloudy', 'icon-rain': SelectedEvent.meteo === 'rain', 'icon-snow': SelectedEvent.meteo === 'snow'}"></i>
                </div>
                <ul style="color:black">
                    <li style="background-color: #99FF99;"> Extremely Active: {{SelectedEvent.eactive}}</li>
                    <li style="background-color: #FFFF99;"> Very Active: {{SelectedEvent.vactive}}</li>
                    <li style="background-color: #FF6666;"> Fairly Active: {{SelectedEvent.factive}}</li>
                    <li style="background-color: #CCCCCC;"> Inactive: {{SelectedEvent.iactive}}</li>
                </ul>

            </div>
        </div>
    </div>


<link href="css/fullcalendar.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<!--<script src="~/Scripts/MyApp.js"></script> -->