<h1 class="md-title" style="text-align: center">{{'Settings' | translate}}</h1>
<div class="row">

    <form novalidate name="settingsForm">

    <div class="column">
        <!-- Subjects -->
        <p>Subjects</p>
        <div style="display: inline-block; text-align: left;">
        <label required="true" ng-repeat="subject in selectedSubjects">
            <input type="checkbox" ng-model="subject.val"/>
            {{subject.name}}
            <br/>
        </label>
        </div>
        <!-- {{selectedSubjects}} -->
    </div>

    <div class="column">
        <!-- Grade Levels -->
        <p>Grade Levels</p>
        <label ng-repeat="grade in selectedGradeLevels">
            <input type="checkbox" ng-model="grade.val"/>
            {{grade.name}}
            <br/>
        </label>
        <!-- {{selectedGradeLevels}} -->
    </div>

    <div class="column">
        <!-- Teks -->
        <p>TEKS</p>
        <label ng-repeat="oneTeks in selectedTeks">
            <input type="checkbox" ng-model="oneTeks.val"/>
            {{oneTeks.name}}
            <br/>
        </label>
        <!-- {{selectedTeks}} -->
    </div>
    </form>
</div>

<div style="text-align: center">
    <md-button class="md-raised" ng-click="saveSettings()">
        {{'Save Settings' | translate}}
    </md-button>
</div>