<div layout="column" class="stats" layout-padding>

    <div data-ng-controller="statsNewCtrl" data-ng-init="init()"></div>

    <div layout="row">
        <h1 class="md-label"> {{'stats_update' | translate:'{miles:' + scores.gameScore+ ', remaining_miles: ' + (scores.maxGameScore - scores.gameScore) + '}'}}</h1>
    </div>

    <div layout="row" layout-align="start center">
        <div flex="50">
            <h1 class="md-title">{{'stats_ranking_global' | translate}}</h1>
        </div>
        <div flex="50" class="legenda">
            {{'stats_legenda' | translate}} <i class="icon icon-star"></i><i class="icon icon-star"></i> 10 km
        </div>
    </div>
    <!--Start of stats cards-->
    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Class Statistics</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="md-subhead">
            <ul>
                <li>Mean: {{mean}}</li>
                <li>Mode: Distance: {{mode[0]}} Count: {{mode[1]}}</li>
                <li>Median: {{median}}</li>
            </ul>
            </p>
        </md-card-content>
    </md-card>





    <!--Start of cards-->
    <div class = excursions layout="column" flex >
        <md-content id="excursions-list">
            <div layout="row" layout-wrap>
                <div flex="50" ng-repeat="ex in excursions">
                    <md-card md-theme="default">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ex.name}}</span>
                                <span class="md-subhead">{{ex.day | date:'dd MMMM yyyy'}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <i class="meteo" ng-class="{'icon-sun': ex.meteo === 'sunny', 'icon-cloudy': ex.meteo === 'cloudy', 'icon-rain': ex.meteo === 'rain', 'icon-snow': ex.meteo === 'snow'}"></i>
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p class="md-subhead">
                            <ul>
                                <li>Extremely Active: {{ex.eactive}}</li>
                                <li>Very Active: {{ex.vactive}}</li>
                                <li>Fairly Active: {{ex.factive}}</li>
                                <li>Inactive: {{ex.iactive}}</li>
                            </ul>
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>



</div>
