<div layout="column" class="stats" layout-padding>
  <div layout="row">
    <div layout="column" flex="80" flex-offset="10">
      <h1 class="md-title title-progress">{{'stats_gamescore' | translate:'{done: ' + stats.gameScore + ', total: ' + stats.maxGameScore + '}'}}</h1>
      <div layout="row" layout-align="start" layout-margin>
        <h1 class="md-display-1">{{stats.gameScore}}</h1>
        <md-progress-linear md-mode="determinate" ng-value="getGameScorePercentage()"></md-progress-linear>
        <h1 class="md-display-1">{{stats.maxGameScore}}</h1>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="start center">
    <div flex="50">
      <h1 class="md-title">{{'stats_ranking_global' | translate}}</h1>
    </div>
    <div flex="50" class="legenda">
      {{'stats_legenda' | translate}} <i class="icon icon-foot"></i><i class="icon icon-star"></i> 10 km
    </div>
  </div>
  <div layout="row" class="table">
    <div layout="column" flex="20" class="mode-zeroImpact_solo">
      <div class="header">{{'stats_zeroimpact_solo' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('zeroImpact_solo', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('zeroImpact_solo', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="zeroImpact_solo" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.zeroImpact_solo / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.zeroImpact_solo % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
    <div layout="column" flex="20" class="mode-zeroImpact_wAdult">
      <div class="header">{{'stats_zeroImpact_wAdult' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('zeroImpact_wAdult', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('zeroImpact_wAdult', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="zeroImpact_wAdult" class="content">
        <!--stats.scoreModeMap.zeroImpact_wAdult-->
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.zeroImpact_wAdult / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.zeroImpact_wAdult % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
    <div layout="column" flex="20" class="mode-bus">
      <div class="header">{{'stats_bus' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('bus', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('bus', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="bus" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.bus / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.bus % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
    <div layout="column" flex="20" class="mode-pandr">
      <div class="header">{{'stats_pandr' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('pandr', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('pandr', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="pandr" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.pandr / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.pandr % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
    <div layout="column" flex="20" class="bonus">
      <div class="header">{{'stats_bonus' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('bonus', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('bonus', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="bonus" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.bonus / 10)) track by $index">
          <i flex="10" class="icon icon-star" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-star" ng-repeat="n in getCount(stats.scoreModeMap.bonus % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
  </div>
</div>
