<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditGame()">
    <!-- Name -->
    <div class="col-lg-12 field">
        <p>
            <span class="required-sign">*</span>
            <b>Nome:</b>
        </p>
        <input class="form-control" type="text" ng-model="currentGame.gameName" ng-required="true" />
    </div>
    <!-- Description -->
    <div class="col-lg-12 field">
        <p>
            <span class="required-sign">*</span>
            <b>Descrizione:</b>
        </p>
        <text-angular ng-model="currentGame.gameDescription" ng-required="true"></text-angular>
    </div>
    <!-- Start and end date -->
    <div class="col-lg-6" style="margin-bottom: 20px;">
        <p style="display: inline-block">
            <span class="required-sign">*</span>
            <b>Data di inizio:&emsp;</b>
        </p>
        <p class="input-group" style="display: inline-block">
            <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}" is-open="isCalendarOpen[0]"
                ng-model="$parent.startDate" min-date="minDate" ng-required="true" current-text="Oggi" clear-text="Azzera" close-text="Fatto"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="isCalendarOpen[0] = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-lg-6" style="margin-bottom: 20px;">
        <p style="display: inline-block">
            <span class="required-sign">*</span>
            <b>Data di fine:&emsp;</b>
        </p>
        <p class="input-group" style="display: inline-block">
            <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}" is-open="isCalendarOpen[1]"
                ng-model="$parent.endDate" min-date="minDate" ng-required="true" current-text="Oggi" clear-text="Azzera" close-text="Fatto"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="isCalendarOpen[1] = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-lg-12 field">
        <p>
        	<span class="required-sign">*</span>
        	<b>Link breve:</b>
        </p>
        <input class="form-control" type="text" ng-model="currentGame.shortName" ng-required="true" />
    </div>
    <div class="col-lg-12">
        <h3>Partecipanti</h3>
        <hr style="border-color: black;">
    </div>
    <!-- Classi partecipanti -->
    <div class="col-lg-12">
        <p>
            <span class="required-sign">*</span>
            <b>Classi partecipanti:</b>
        </p>
        <div style="margin-left: 10px;" class="checkbox-inline">
            <label style="font-weight: normal">
                <input type="checkbox" ng-click="toggleSelectedClasses()" ng-model="classesAllSelected">Seleziona tutto&ensp;|&ensp;</label>
        </div>
        <div style="margin-left: 10px;" class="checkbox-inline" ng-repeat="classe in classes">
            <label style="font-weight: normal">
                <input type="checkbox" value="{{classe.value}}" ng-model="classe.value" ng-change="classToggled()">{{classe.name}}&ensp;</label>
        </div>
    </div>
    <!-- Num studenti nelle classi -->
    <div class="col-lg-12 field">
        <p>
            <b>Num. studenti nelle classi: {{nrOfStudenti}}</b>
        </p>
    </div>
    <!-- Global Team -->
    <div class="col-lg-12 field">
        <p>
            <b>Nome Team globale:</b>
        </p>
        <input class="form-control" type="text" ng-model="currentGame.globalTeam" />
    </div>

    <div class="col-lg-12">
        <h3>Impostazioni pedibus</h3>
        <hr style="border-color: black;">
    </div>

    <div class="col-lg-12">
        <p>
            <input type="checkbox" ng-model="$parent.enablePiediBusParams">&nbsp;Utilizza nel gioco i dati del piedibus
        </p>
    </div>
    <br>
    <!-- Intervallo di raccolta dati -->
    <div class="col-lg-12 field">
        <p>
            <span class="required-sign">*</span>
            <b>Intervallo di validità per gli eventi del Pedibus:</b>
        </p>
    </div>

    <div class="col-lg-12">
        <label class="col-lg-1" style="position: relative;top:40px"><b>dalle:</b></label>
        <div class="col-lg-2 timepicker time-picker-control">
            <fieldset ng-disabled="!$parent.enablePiediBusParams">
                <div uib-timepicker hour-step="1" minute-step="5" show-meridian="ismeridian" ng-model="$parent.collectFromHour" ng-required="true"></div>
            </fieldset>
        </div>
        <label class="col-lg-1" style="position: relative;top:40px"><b>alle:</b></label>
        <div class="col-lg-2  timepicker time-picker-control">
            <fieldset ng-disabled="!$parent.enablePiediBusParams">
                <div uib-timepicker hour-step="1" minute-step="5" show-meridian="ismeridian" ng-model="$parent.collectToHour" ng-required="true"></div>
            </fieldset>
        </div>
    </div>
  
    <!-- Scheduling -->
    <div disabled="!$parent.enablePiediBusParams" class="col-lg-12">
        <p>
            <b>Raccolta dati del Pedibus serale (18):</b>
            <input data-ng-disabled="!$parent.enablePiediBusParams" type="checkbox" ng-model="currentGame.lateSchedule">
        </p>
    </div>

</fieldset>