<!DOCTYPE html>
<html lang="it">
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <title>Login</title>
      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet"/>
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet"/>
      <script src="lib/jquery/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="lib/bootstrap-colorpicker-module.min.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>

    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
            <h3 style="text-align:center">CLIMB Gamification Dashboard</h3>
            <form action="login" method="post">
                <div>&nbsp;</div>
                <div class="col-md-12 form-group"><label> Username: </label><input class="form-control" type="text" name="username"/></div>
                <div class="col-md-12 form-group"><label> Password: </label><input class="form-control" type="password" name="password"/></div>
                <div class="col-md-12 form-group"><button class="btn btn-primary">Sign In</button> </div>
                <div>&nbsp;</div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <script src="lib/bootstrap.min.js"></script>
    </body>
</html>
