
<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditSchool()">
    <div class="col-md-12 right">
        <a ng-click="save()" class="btn btn-save btn-margin" role="button">Salva info</a>
        <a ng-click="back()" class="btn btn-danger" role="button">Annulla</a>
    </div>
    <!-- Name -->
    <div class="col-lg-12 field">
        <p><span class="required-sign">*</span> <b>Nome:</b></p>
        <input class="form-control" type="text" ng-model="currentSchool.name" ng-required="true"/>
    </div>
    <!-- Description -->
    <div class="col-lg-12 field">
        <p><span class="required-sign">*</span> <b>Indirizzo:</b></p>
        <input class="form-control" type="text" ng-model="currentSchool.address" ng-required="true"/>
    </div>
</fieldset>