<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditPath()">

    <div class="col-md-12 right">
        <a ng-click="save()" class="btn btn-save btn-margin" role="button">Salva info</a>
        <a ng-click="back()" class="btn btn-danger" role="button">Annulla</a>
    </div>
    <!-- Name -->
    <div class="col-lg-12 field">
        <p><span class="required-sign">*</span> <b>Nome:</b></p>
        <input class="form-control" type="text" ng-model="currentPath.name" />
    </div>
    <!-- Description -->
    <div class="col-lg-12 field">
        <p><span class="required-sign">*</span> <b>Descrizione:</b></p>
        <text-angular ng-model="currentPath.description"></text-angular>
    </div>
    <!-- Classi partecipanti -->
    <div class="col-lg-12">
        <p><span class="required-sign">*</span> <b>Classi partecipanti:</b></p>
        <div style="margin-left: 10px;" class="checkbox-inline">
            <label style="font-weight: normal"><input type="checkbox" ng-click="toggleSelectedClasses()" ng-model="classesAllSelected">Seleziona tutto&ensp;|&ensp;</label>
        </div>
        <div style="margin-left: 10px;" class="checkbox-inline" ng-repeat="classe in classes">
            <label style="font-weight: normal"><input type="checkbox" value="{{classe.value}}" ng-model="classe.value" ng-change="classToggled()">{{classe.name}}&ensp;</label>
        </div>
    </div>
    <div class="col-lg-12">
    	<p>I campi contrassegnati col simbolo <span class="required-sign">*</span> sono obbligatori</p>
    </div>
</fieldset>